node_modules/
dist/
dist-ssr/
*.local
.vite/
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea/

# Capacitor — session 7
android/
ios/

# Logs
*.log
npm-debug.log*

# TS incremental build info
*.tsbuildinfo

# vite-plugin-pwa dev output
dev-dist/
